.node-red/flows_my_ports_numbers.json
[{"id":"816658c7.8f1148","type":"tab","label":"Flow 1"},{"id":"fba0b105.6b53a","type":"xml","z":"816658c7.8f1148","name":"XML to JSON","attr":"","chr":"","x":233.5,"y":177,"wires":[["a4d39192.cbf57"]]},{"id":"bab83b84.f251d8","type":"file in","z":"816658c7.8f1148","name":"Read xml File with ports numbers","filename":"./resources/service-names-port-numbers.xml","format":"utf8","x":234.5,"y":118,"wires":[["fba0b105.6b53a"]]},{"id":"70adc446.3bbc7c","type":"debug","z":"816658c7.8f1148","name":"","active":true,"console":"false","complete":"false","x":536.5,"y":188,"wires":[]},{"id":"a4d39192.cbf57","type":"function","z":"816658c7.8f1148","name":"Convert message","func":"// xml content\nconst xmlObject = msg.payload;\n\nlet portsNumbers = {};\nportsNumbers.record = [];\n\nlet countRegist = 0;\n\nxmlObject.registry.record.forEach(function(rec) {\n    let recordTemp = {};\n\n    console.log('Registry number ' + countRegist);\n\n    // protocol information\n    if (rec.protocol === undefined) {\n        console.warn('PROTOCOL does not exist.');\n    } \n    else {\n        recordTemp.protocol = rec.protocol.toString();\n    }\n    \n    // name information\n    if (rec.name === undefined) {\n        console.warn('NAME does not exist.');\n    } \n    else {\n        recordTemp.name = rec.name.toString();\n    }\n\n    // xref information\n    if (rec.xref === undefined) {\n        console.warn('XREF does not exist.');\n    }\n    else {\n        recordTemp.xref = rec.xref[0].$;\n    }\n    \n    // description information\n    if (rec.description === undefined) {\n        console.warn('DESCRIPTION does not exist.');\n    }\n    else {\n        recordTemp.description = rec.description.toString();\n    }\n    \n    // number information\n    if (rec.number === undefined) {\n        console.warn('NUMBER does not exist.');\n    }\n    else {\n        recordTemp.number = Number(rec.number[0]);\n    }\n    \n    // add new registry to record\n    portsNumbers.record.push(recordTemp);\n\n    countRegist++;\n});\n\n\nmsg.payload = portsNumbers;\n\nreturn msg;","outputs":1,"noerr":0,"x":332.5,"y":247,"wires":[["70adc446.3bbc7c","8de5940.e3ece7"]]},{"id":"b231035b.2172e","type":"http in","z":"816658c7.8f1148","name":"","url":"/ports-table","method":"get","swaggerDoc":"","x":122.5,"y":60,"wires":[["bab83b84.f251d8"]]},{"id":"add88788.0f79c8","type":"http response","z":"816658c7.8f1148","name":"","x":686.5,"y":282,"wires":[]},{"id":"8de5940.e3ece7","type":"function","z":"816658c7.8f1148","name":"Set headers","func":"msg.headers = {\n    'content-type': 'application/json',\n    'access-control-allow-origin': 'http://localhost:4200'\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":539.5,"y":282,"wires":[["add88788.0f79c8"]]}]